"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[user]
name = "Stephen Collings"
email = "stephen@mettle.co.uk"

[snapshot]
max-new-file-size = "10MiB"

[revset-aliases]
'closest_bookmark(to)' = 'heads(::to & bookmarks())'

# set all remote bookmarks (commits pushed to remote branches) to be immutable
'immutable_heads()' = "builtin_immutable_heads() | remote_bookmarks()"

[aliases]
tug = ["bookmark", "move", "--from", "closest_bookmark(@-)", "--to", "@-"]

fetch = ["git", "fetch"]
init = ["git", "init", "--colocate"]
mark = ["bookmark", "set", "-r", "@"]
push = ["git", "push", "--allow-new"]
track = ["bookmark", "track"]

[template-aliases]
# 'format_short_change_id(id)' = 'id.shortest()'

[remotes.origin]
auto-track-bookmarks = "stevo/*"
