@evinced:registry=https://mettle.jfrog.io/artifactory/api/npm/npm-virtual/
@mettle:registry=https://mettle.jfrog.io/artifactory/api/npm/npm-virtual/
//mettle.jfrog.io/artifactory/api/npm/npm-virtual/:_auth=${NPM_TOKEN}
//mettle.jfrog.io/artifactory/api/npm/npm-virtual/:always-auth=true
engine-strict=true
git-tag-version=false
legacy-peer-deps=true
save-exact=true
